#bill-text{
    width: 80%;
    height: 32px;
    border-radius: 4px;
    position: relative;
    background-color: rgba(255,255,255,0.3);
    transition: 0.3s all;
    font-style: italic;
    margin-top: 5%;
}

#bill-text:hover{
    font-style: normal;
}